<%= simple_form_for teacher, html: { multipart: true } do |f| %>
  <div class="mb-3">
    <%= f.input :last_name, label: "Nom", input_html: { class: "form-control" } %>
  </div>

  <div class="mb-3">
    <%= f.input :first_name, label: "Prénom", input_html: { class: "form-control" } %>
  </div>

  <div class="mb-3">
    <%= f.input :photo, as: :file, label: "Photo" %>
  </div>

    <div class="mb-3">
    <%= f.input :address, label: "Adresse", input_html: { class: "form-control" } %>
  </div>

  <%= f.submit teacher.new_record? ? "Créer" : "Mettre à jour", class: "btn btn-success" %>
<% end %>
