<div style= "height: 90vh;">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: teachers_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search a teacher"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
    <div class="container-lg d-flex">
      <div class="cards">
        <% @teachers.each do |teacher| %>
          <tr>
            <%= link_to teacher_path(teacher), class: "card-link" do %>
              <div class="card" style="background-image: url('<%= cl_image_path teacher.photo.key, height: 300, crop: :fill %>')">
                <td><%= teacher.last_name %></td>
                <td><%= teacher.first_name %></td>
              </div>
            <% end %>
          </tr>
        <% end %>
      </div>
      <div style="width: 30vw; height: 500px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
