<div style= "height: 90vh;">
    <div class="cards-container">
      <div class="cards">
      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        <h1>Liste des Professeurs</h1>
              <% @teachers.each do |teacher| %>
                <tr>
                  <div class="card" style="background-image: url('<%= cl_image_path teacher.photo.key, height: 300, crop: :fill %>')">
                      <td><%= teacher.last_name %></td>
                      <td><%= teacher.first_name %></td>
                      <td>
                        <%= link_to 'Voir', teacher_path(teacher), class: "btn btn-info btn-sm" %>
                      </td>
                  </div>
                </tr>
              <% end %>
      </div>
    </div>
</div>
