<h1><%= @teacher.last_name %> <%= @teacher.first_name %></h1>

<p>
  <strong>Nom:</strong> <%= @teacher.last_name %>
</p>

<p>
  <strong>Prénom:</strong> <%= @teacher.first_name %>
</p>

<%= link_to 'Modifier', edit_teacher_path(@teacher), class: "btn btn-primary" %>
<%= link_to 'Retour', teachers_path, class: "btn btn-secondary" %>

<%= button_to 'Supprimer', @teacher, method: :delete, data: { confirm: 'Es-tu sûr ?' }, class: "btn btn-danger" %>
